* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(118, 145, 133);
}


.container {
    /* border: 2px solid red; */
    height: 100vh;

    & .image {
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
    }

    & .navigation_circles {
        /* border: 2px solid red; */
        /* height: 100%; */
        display: flex;
        justify-content: center;
        /* align-items: center; */
        gap: 7px;
    }
}